<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>   
        alert("chuc mung ban chung lo");
    </script>
    <span style="color: red;">hello {{model.name}}</span> 
    <br>
    a {{model.gender}}
</body>
</html>